* {
  margin: 0;
  padding: 0;
  appearance: none;
  outline: 0;
  border: 0;
}
input:focus, textarea:focus {
  outline:0;
}

input, textarea {
  box-sizing:content-box;
}

html {
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

header {
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em;
  color: rgba(50, 0, 0, 0.8);
  background: rgba(255, 0, 0, 0.8);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
}

header img {
  display: block;
}
header div {
  color: rgba(255, 255, 255, 0.8);
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.3em;
  display: block;
}

.main {
  min-width: 900px;
}

.message-flare, .message-good {
  cursor: pointer;
}

.messages {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.7);
}

.selected-messages {
  margin-bottom: 3em;
}

.message {
  padding: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.message-id {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
  padding: 0.2em 0.3em;
  background: rgba(255, 255, 255, 0.4);
  margin-right: 0.2em;
  cursor: pointer;
}
.message-id:hover {
  background: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.9);
}

ul {
  list-style: none;
}

#post input {
  padding: 0.3em;
  font-size: 1.5em;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#post input::placeholder {
  color: rgba(0, 0, 0, 0.1);
}
